@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">Convert bytes array </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <span>original bytes:</span>
            <span id="original"></span>
        </div>
        <div class="col-3">
            <span>posted bytes:</span>
            <span id="received"></span>
        </div>
    </div>
</div>
